/*  Mobile Phones Portrait  */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }

  header {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  }
}

/*  Mobile Phones Landscape  */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }

  .about-me-photo {
    width: 50%;
  }
}

/*  Mobile Phones Portrait or Landscape  */
@media screen and (max-device-width: 640px) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }

}

/*  iPhone 4+ Portrait or Landscape  */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }
  .about-me-photo {
    width: 50%;
  }
}

/*  iPhone 5 Portrait or Landscape  */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }
  .about-me-photo {
    width: 50%;
  }
}

/*  iPhone 6 and 6 plus Portrait or Landscape  */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }
  .about-me-photo {
    width: 50%;
  }
}

/*  Tablets Portrait or Landscape  */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }
  .about-me-photo {
    width: 50%;
  }
}
