/*  Mobile Phones Portrait  */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }

}

/*  Mobile Phones Landscape  */
@media screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }

  .about-me-photo {
    flex-basis: 100%;
    justify-content: center;
  }

  .me-photo {
    width: 200px;
  }
}

/*  Tablets Portrait or Landscape  */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    margin: 3vw;
    padding: 3vw;
  }

  .about-me-container {
    display: block;
    padding: 1rem 0;
  }

  .about-me-photo {
    flex-basis: 100%;
    justify-content: center;
  }

  .me-photo {
    width: 200px;
  }

}

