/* Font faces */

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Style */

  * {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Raleway', Arial Helvetica, sans-serif;
    margin: 2vw 12vw;
    padding: 1vw;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  a:visited, a:link {
    color: black;
  }
 
  /* Header Section */
  
  header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  nav a {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 1vw;
    color: black;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
    color: black;
  }

  .brand{
    margin: 0;
    font-size: 3rem;
    cursor: grab;
    z-index: 10;
}
  
  /* About Me Section */
  
  #about-me {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  .about-me-text-container {
    line-height: 1.4rem;
    flex-basis: 60%;
  }

  .about-me-text-container p{
    padding-bottom: 0.5rem;
  }
 
  .about-me-image-container {
    display: flex;
    flex-flow: column wrap;
    text-align: end;
    flex-basis: 40%;
  } 

  .cat-photo {
    width: 100%;
    height: auto;
  }

  #time-container {
    font-weight: bold;
  }

  .frontend-masters, .codecademy, .color-project {
    transition: color 0.1s ease-out, 
      font-weight 0.1s ease-out, 
      text-decoration 0.1s ease-out;
  }

 .frontend-masters:hover, .codecademy:hover, .color-project:hover {
    font-weight: bold;
    text-decoration: none;
  } 
  .frontend-masters:hover {
    color:#C02D28;
  }

  .codecademy:hover {
    color:#1F3F53;
  }
  .color-project:hover {
    color: blue;
  }

  /* Projects section */

 .project-list {
    list-style: none;
    padding: 0;
  }

  .project-list li {
    padding: 0.7rem 1.5rem;
  }

  .project-list li:before {
    content: "\f6be"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }

  /* Skills section */

  .skills-container {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 1vw 0;
  }

  .fa-html5:hover {
    color: #E44D26;
  }

  .fa-css3-alt:hover {
    color: #264DE4;
  }

  .fa-react:hover {
    color: #00D1F7;
  }

  .fa-js:hover {
    color: #F7E018;
  }

  .fa-git:hover {
    color: #F34F29;
  }

  .fa-github:hover {
    color:#0D2636;
  }

  /* Contact Section */

  .contact-container {
    font-size: 3rem;
  }

  .contact-container .fab,.fas {
    padding-right: 4vw;
  }

  .fa-linkedin:hover {
    color: #0A66C2;
  }

  .fa-envelope-square:hover {
    color:dodgerblue ;
  }

  /* Footer */

  footer {
    text-align: center;
    padding: 1vw;
  }

  .fa-heart {
    font-size: 1.2rem;
    color:red;
    animation: bounceIn 1s linear infinite alternate both ;
    display: inline-block;
    padding: 0;
  }

  .fa-heart:hover{
    animation-play-state: paused;
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }




